@media screen and (max-width: 1215px) and (min-width: 950px)  {
    .scene {
        width: 100%;
    }
    
    .menu {
        margin: 0 auto;
        width: 93%;
    }

    .menu__nav-item {
        margin-left: 90px;
    }

    h1 {
        margin-left: 200px;
    }

    .button-getstarted {
        margin-left: 200px;
    }

    .aboutus {
        width: 930px;
        padding-bottom: 90px;
        justify-content: flex-end;
    }

    .title {
        width: 450px;
    }

    .title__img-up {
        width: 450px;
    }

    .man__img {
        width: 450px;
    }

    .application {
        width: 920px;
        justify-content: flex-start;
        padding-bottom: 80px;
    }

    .title__img-left {
        width: 500px;
    }

    .woman__img {
        width: 500px;
    }

    .title-down {
        width: 390px;
    }

    .title__text {
        width: 390px;
    }

    .faq {
        margin-bottom: 30px;
    }

    .faq__background {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .faq__container {
        width: 95%;
        justify-content: center;
        position: static;
        padding-bottom: 20px;
    }

    .faq__title {
        margin-left: 50px;
        width: 450px;
    }

    .questions__img {
        width: 460px;
        height: 350px;
        margin-top: 60px ;
    }

    .faq_questions {
        width: 95%;
        position: static;
        margin: 0 auto;
    }

    .questions__plus {
        width: 430px;
    }

    .questions__minus {
        width: 430px;
    }

    .minus {
        padding-right: 15px;
    }

    .questions__text {
        padding-right: 20px;
        line-height: 28px;
        font-size: 17px; 
    }

    .text-light {
        padding-left: 20px;
    }

    .clients {
        flex-direction: column;
        margin-bottom: 0;
    }

    .clients__title {
        margin: 0 auto;
        padding-left: 0;
    }

    .clients__cards {
        width: 95%;
        margin: 0 auto;
    }

    .clients__arrows {
        display: none;
    }

    .client__person {
        width: 95%;
    }

    .clients__reviews {
        width: 420px;
        height: 340px;
    }

    .transparent {
        display: none;
    }

    .blue {
        width: 100%;
    }

    .vector {
        width: 100%;
        margin-top: 60px;
    }

    .consultant {
        margin-left: 60%;
        margin-top: -1000px;
    }

    .consultant__text { 
        color: #0F264C;
    }

    .form {
        margin-bottom: 80px;
    }

    .form__wrap {
        margin-left: 9%;
        margin-top: 170px;
    }

    .contacts{
        background-color: #0F264C;
    }

    .menu__footer {
        padding-left: 0;
        padding-top: 0;
    }

    .contact__footer {
        width: 90%;
        margin-left: 0;
        padding-top: 0;
    }

    .text-footer {
        color: #ffffff;
    }
}