@media screen and (max-width: 950px) and (min-width: 500px)  { 
    .scene {
        width: 100%;
        height: auto;
    }
    
    .menu {
        width: 90%;
        margin: 0 auto;
    }
   
    .menu__nav {
        display: none;
    }

    .menu__nav-mobile {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 80%;
        margin-top: 30px;
    }

    .menu__nav-item {
        margin-left: 60px;
    }

    h1 {
        font-size: 60px;
        width: 80%;
        margin: 0 auto;
        padding-top: 10px;
    }

    .model {
        display: none;
    }

    .model__mob {
        display: block;
        width: 85%;
        margin-top: 10%;
    }

    .model__img {
        width: 85%;
    }

    .aboutus {
        flex-direction: column;
        width: 95%;
        padding-bottom: 0;
        padding-top: 7px;
    }

    .title {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }

    .title__img-up {
        width: 450px;
        margin-top: 30px;
    }

    .man__img {
        width: 450px;
    }

    h4 {
        width: 95%;  
    }

    .application {
        width: 95%;  
        flex-direction: column;
        padding-bottom: 10px;
    }

    .title__img-left {
        display: none;
    }

    .title-down {
        padding-top: 20px;
    }

    .title__text {
        width: 390px;
        margin: 0 auto;
    }

    .faq {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .faq__background {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .faq__container {
        flex-direction: column;
        width: 95%;
        justify-content: center;
        position: static;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .faq__title {
        padding-top: 40px;
        margin: 0 auto;
        
    }

    .faq_questions {
        flex-direction: column;
        width: 95%;
        position: static;
        margin: 0 auto;
        justify-content: center;
    } 

    .questions__answers {
        margin: 0 auto;
    }
    
    .questions__plus {
        width: 430px;
    }

    .questions__minus {
        width: 430px;
    }

    .minus {
        padding-right: 15px;
    }

    .questions__text {
        padding-right: 20px;
        line-height: 28px;
        font-size: 17px; 
    }

    
    .plus-load {
        margin-bottom: 60px;
    }

    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__title {
        margin: 0 auto;
        padding-left: 0;
        width: 450px;
        height: auto;
    }

    .clients__cards {
        width: 95%;
        margin: 0 auto;
    }

    .clients__arrows {
        display: none;
    }

    .client__person {
        width: 95%;
        display: flex;
        flex-direction: column;
        
    }

    .clients__reviews {
        width: 420px;
        height: 340px;
        height: 100%;
       /**/
       margin-bottom: 22px;
        /*margin: 0 auto;*/
    }

    .transparent {
        display: none;
    }

    .blue  {
        width: 100%;
    }

    .vector {
        width: 100%;
    }

    .form__wrap {
        margin-left: 6%;
        margin-top: 170px;
        width: 450px;
        height: 340px;
    }

    .contact__footer {
        width: 90%;
        margin-left: 0;
        padding-top: 0;
    }
}