@media screen and (max-width: 950px) and (min-width: 500px)  { 
    .scene {
        width: 100%;
        height: auto;
    }
    
    .menu {
        width: 90%;
        margin: 0 auto;
    }
   
    .menu__nav {
        display: none;
    }

    .menu__nav-mobile {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 80%;
        margin-top: 30px;
    }

    .menu__nav-item {
        margin-left: 60px;
    }

    h1 {
        font-size: 60px;
        width: 80%;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
    }

    .model {
        display: none;
    }

    .model__mob {
        display: block;
        width: 85%;
        margin-top: 10%;
    }

    .model__img {
        width: 85%;
    }

    .aboutus {
        flex-direction: column;
        width: 95%;
        padding-bottom: 0;
        padding-top: 10px;
    }

    .title {
        width: 95%;
        margin: 0 auto;
    }

    h3 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    .title__img-up {
        width: 450px;
        padding-top: 30px;
        margin: 0 auto;
    }

    .man__img {
        width: 450px;
    }

    h4 {
        width: 95%;  
        overflow: hidden;
        padding: 20px 30px;
    }

    .application {
        width: 95%;  
        flex-direction: column;
        padding-bottom: 10px;
    }

    .title__img-left {
        display: none;
    }

    .title-down {
        padding-top: 20px;
    }

    .title__text {
        width: 95%;
        margin: 0 auto;
    }

    .faq {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .faq__background {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .faq__container {
        flex-direction: column;
        width: 95%;
        justify-content: center;
        position: static;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .faq__title {
        padding-top: 40px;
        width: 95%;
        text-align: center;
        margin: 0 auto;
        
    }

    .questions__img {
        width: 460px;
        height: 350px;
        margin: 0 auto;
    }

    .faq_questions {
        flex-direction: column;
        width: 95%;
        position: static;
        margin: 0 auto;
        justify-content: center;
    } 

    .questions__answers {
        margin: 0 auto;
    }
    
    .questions__plus {
        width: 90%;
    }

    .questions__minus {
        width: 90%;
    }

    .minus {
        padding-right: 15px;
    }

    .questions__text {
        padding-right: 20px;
        line-height: 28px;
        font-size: 17px; 
    }

    .plus-load {
        margin-bottom: 60px;
    }

    .plus-right {
        box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
    }

    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__title {
        margin: 0 auto;
        padding-left: 0;
        width: 450px;
        height: auto;
    }

    .clients__cards {
        width: 95%;
        margin: 0 auto;
    }

    .clients__arrows {
        display: none;
    }

    .client__person {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clients__reviews {
        width: 450px;
        display: flex;
        margin-bottom: 22px;
    }

    .clients__name {
        padding-bottom: 20px;
    }

    .transparent {
        display: none;
    }

    .form {
        margin-bottom: 0;
    }

    .blue  {
        width: 100%;
        margin-top: -75px;
    }

    .vector {
        width: 100%;
        margin-top: 30px;
    }

    .consultant {
        margin-left: 20%;
        margin-top: -660px;
        margin-bottom: 60px;
    }

    .form__wrap {
        margin-top: 60px;
        width: 400px;
        margin-left: 0;
        margin: 0 auto;
        padding: 0;
    }

    .form__container {
        margin-top: 10px;
        padding-top: 30px;
    }

    .form__inp {
        width: 350px;
        margin-bottom: 25px;
    } 

    .button__form {
    margin-top: 0;
    }    
    
    .contacts{
        background-color: #0F264C;
    }

    .logo {
        margin-top: 10px;
    }

    .contact__footer {
        width: 90%;
        margin-left: 0;
        padding-top: 40px;
    }


    .menu__nav-item-mobil {
        font-weight: 400;
        padding-top: 20px;
    }

    .text-footer {
        color: #ffffff;
    }
}