@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #F8F9FA;
}

header {
    width: 100%;
}

.scene {
    background: url('./img/Scene.png');
    background-repeat: no-repeat;
    width: 1285px;
    height: 960px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-left: 225px;
    width: 1150px;
}

.menu__nav {
    list-style: none;
    display: flex;   
}

.menu__nav-item {
    font-family: 'Rubik', sans-serif;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu__nav-item a {
    text-decoration: none;
    color: white;
}

.button-contact {
    border: none;
    background-color: #EE4D47;
    border-radius: 5px;
    padding: 20px 24px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.1em;
    color: #ffffff;
    width: 740px;
    margin-left: 240px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 70px;
}

.button-getstarted {
    margin-left: 235px;
    margin-top: 50px;
}

.model {
    background-image: url('./img/mobel.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 393px;
    margin-bottom: 170px;
    margin-top: -170px;
}

.aboutus {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1130px;
    padding-bottom: 160px;
}

.title {
    width: 550px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px; 
    color: #EE4D47;
    letter-spacing: 2px;
    text-align: left;
}

.title__text {
    width: 450px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
    font-weight: 300;
    line-height: 40px;
    color: #402B2B;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px; 
    font-weight: medium;
    line-height: 36px;
    color: #402B2B;
    padding: 30px 50px;
    background-color: #FCDDD4;
    border-left: #ED4D47 solid 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.title__img-up {
    width: 550px;
    margin-top: -80px;
}

.application {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    padding-bottom: 150px;
}

.title__img-left {
    width: 720px;
}

.title-down {
    padding-top: 90px;
}

.faq {
    margin-bottom: 250px;
}

.faq__background {
    background-color: #FDEDE8;
    width: 1270px;
    border-top-left-radius: 150px;
    height: 1500px;
    margin-left: auto;
}

.faq__container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    left: -200px;
    padding-bottom: 85px;
}

.faq__title {
    padding-top: 100px;
    width: 550px;
}

h2 {
    color: #402B2B;
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
}

.faq_questions {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    left: -210px;
}

.questions__plus {
    background-color: #ffffff;
    width: 550px;
    height: 90px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
}

.questions__minus {
    background: linear-gradient(#FDEDE8, #ffffff);
    box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
    width: 550px;
    border-radius: 8px;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.plus-right {
    box-shadow: 10px 10px 25px 7px rgba(237, 77, 71, .1);
}

.questions__text {
    color: #402B2B;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px; 
    line-height: 30px;
    padding-left: 30px;
    padding-right: 60px;
    width: 410px;
}

.text-light {
    font-weight: 300;
    padding: 40px 35px 60px;
}

.minus {
    padding-top: 7%;
}

.plus-load {
    background-color: rgba(237, 77, 71, .3);
    margin-bottom: 90px; 
}

.text-load {
    text-align: center;
    color: #ED4D47;
    padding-top: 9px;
}

.clients {
    display: flex;
    flex-direction: row;
    margin-bottom: 160px;
}

.clients__title {
    width: 300px;
    padding-left: 400px;
}

.clients__cards {
    margin-left: auto;
}

.clients__arrows {
    text-align: right;
    margin-right: 230px;
}

.arrowright {
    padding-left: 30px;
}

.client__person {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 1110px;
    height: 500px;
    padding-left: 40px;
    padding-top: 60px;
}

.clients__reviews {
    width: 480px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clients__name {
    display: flex;
    flex-direction: row;
    padding-left: 52px;
    justify-content: end;
}

.clients__text {
    font-weight: 300;
    font-size: 16px; 
    width: 320px;
    padding-left: 52px;
}

.name__text {
    font-size: 16px;
}

.transparent {
    opacity: .8;
}

.bibica {
    width: 500px;
}

.blue {
    background-color: #0F264C;
    width: 1645px;
    border-top-right-radius: 100px;
    height: 750px;
    margin-top: -35px;
}

.vector {
    width: 950px;
    z-index: -1;
}

.consultant {
    margin-top: -580px;
    margin-left: 323px;
    border-left: #ED4D47 solid 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.consultant__text {
    font-family: 'Rubik', sans-serif;
    font-size: 20px; 
    font-weight: medium;
    line-height: 30px;
    color: #ffffff;
    width: 330px;
    padding-left: 40px;
}

.form {
    margin-bottom: 155px;
}

.form__wrap {
    width: 510px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
    margin-left: 855px;
    margin-top: -460px;
    border-radius: 7px;
    padding: 55px;
    z-index: 1;
    position: relative;
}

.form__container {
    margin-top: 25px;
}

.form__label {
    font-family: 'Rubik', sans-serif;
    font-size: 16px; 
    font-weight: 300;
    color: #402B2B;
    padding-left: 25px;
}

.form__inp {
    width: 450px;
    height: 60px;
    border: #EE4D47 solid .5px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 25px;
}

 ::-webkit-input-placeholder { /* WebKit browsers */
    color:   #402B2B;
    padding-left: 40px;
}
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #402B2B;
    padding-left: 40px;
}
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #402B2B;
    padding-left: 40px;
}
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   #402B2B;
    padding-left: 40px;
}

input:focus {
    border: 2px solid #EE4D47;
    box-shadow: -10px 10px 25px 7px rgba(237, 77, 71, .1);
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    outline-offset: 0;
}

.button__form {
    margin-left: 25px;
    margin-top: 10px;
}

.menu__footer {
    padding-left: 100px;
}

.menu__nav-footer {
    font-weight: 400;
    padding-bottom: 131px;
    margin-left: 130px;
    margin-right: 5px;
    
}

.contact__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1190px;
    margin-left: 270px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.messengers {
    display: flex;
    flex-direction: row;
}

.messengers__item {
    margin-left: 35px;
}

@media screen and (max-width: 1215px) and (min-width: 950px)  {
    .scene {
        width: 100%;
    }
    
    .menu {
        margin: 0 auto;
        width: 95%;
    }

    .aboutus {
        width: 930px;
    }
    .title__img-up {
        width: 450px;
    }

    .man__img {
        width: 450px;
    }

    .application {
        width: 930px;
        /*text-align: left;*/
    }

    .title__img-left {
        width: 500px;
    }

    .woman__img {
        width: 500px;
    }

    .title-down {
        width: 400px;
    }

    .title__text {
        width: 400px;
    }

    .faq__background {
        width: 100%;
        margin: 0 auto;
    }

    .faq__container {
        width: 95%;
        justify-content: center;
        position: static;
    }

    /*.questions__img {    /*?!?!?!?!*/
       /* width: 45%;
    }*/

    .faq_questions {
        width: 95%;
        position: static;
    }

    .clients {
        flex-direction: column;
    }

    .clients__cards {
        width: 95%;
    }

    .clients__arrows {
        display: none;
    }

    .client__person {
        /*width: 100%;*/
    }

    .transparent {
        display: none;
    }

    .blue {
        width: 100%;
    }

    .vector {
        width: 100%;
    }

    .consultant {
        margin-left: 20%;
    }

    .form__wrap {
        margin-left: 9%;
        margin-top: 60px;
    }

    .menu__footer {
        padding-left: 0;
    }

    .contact__footer {
        width: 95%;
        margin-left: 0;
    }
}